.main-carousel .carousel .control-arrow {
  opacity: 1;
  transition: all 0.2s ease-in-out;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.main-carousel .carousel .control-arrow:hover {
  background: rgba(255, 255, 255, 0.2);
}

.main-carousel .carousel .control-prev.control-arrow {
  left: 15px;
}

.main-carousel .carousel .control-next.control-arrow {
  right: 15px;
}

.main-carousel .carousel .control-dots .dot {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: none;
  width: 10px;
  height: 10px;
  transition: all 0.2s ease-in-out;
}

.main-carousel .carousel .control-dots .dot.selected,
.main-carousel .carousel .control-dots .dot:hover {
  background: #ffffff;
  transform: scale(1.2);
}